<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<header>
    <div class="wrap-logo">
        <a href="#logo" class="logo">Интернет магазин</a>
    </div>
    <nav>
        <a class="active" href="#home">Каталог</a>
        <a href="#basket">Корзина</a>
        <a href="#about">О нас</a>
        <a href="/login">Войти</a>
        <a href="/register">Регистрация</a>
    </nav>
</header>
{% block content %}{% endblock %}
<footer style="text-align: center;">
    <nav  style="text-align: center;">
        <a style="color: white; font-size: 1vw;">Моя почта: marina.cegina@mail.ru</a>
        <a style="color: white; font-size: 1vw;">Страница VK: https://vk.com/id447371585</a>
        <a style="color: white; text-decoration: none; font-size: 1vw;">Отзывы</a>
        <a style="color: white; text-decoration: none; font-size: 1vw;">Обратная связь</a>
    </nav>
    <p style="color: white; font-size: 1vw;">@ Все права защищены</p>
</footer>
</body>
</html>