{% extends "base.html" %}

{% block content %}
    <div >
        <div style="position: relative;">
            <img src="static/images/back.jpeg" class="back_images">
            <h1 class="text_main" >Интернет магазин кроссовок</h1>
            <p class="info_cait">В нашем магазине вы сможете любую обувь на ваш вкус</p>
        </div>  
    </div>
    <div class="info_teacher">
        <img src="static/images/photo.jpg">
        <p>
            У нас лучшие кроссовки в городе
        </p>
    </div>
{% endblock %}